<ion-content [fullscreen]="true" class="ion-padding-top">

    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <ion-button expand="block" fill="solid" shape="round" color="success">
                    <ion-icon slot="start" name="server"></ion-icon>
                    Conectar al Servidor
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button expand="block" fill="solid" shape="round" color="warning">
                    <ion-icon slot="start" name="send"></ion-icon>
                    Enviar Preventas
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button expand="block" fill="solid" shape="round">
                    <ion-icon slot="start" name="refresh"></ion-icon>
                    Actualizar Artículos y Clientes
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
