<ion-tabs>

  <!-- <ion-tab-bar slot="bottom" *ngIf="guiService.ShowTabBar()"> -->
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="pedidos-tab" href="/tabs/sincronizacion-tab">
      <ion-icon aria-hidden="true" name="cart"></ion-icon>
      <ion-label>Preventas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sincronizacion-tab" href="/tabs/sincronizacion-tab">
      <ion-icon aria-hidden="true" name="sync"></ion-icon>
      <ion-label>Sincronizacion</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu-tab" href="/tabs/menu-tab">
      <ion-icon aria-hidden="true" name="menu"></ion-icon>
      <ion-label>Menú</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
